[user]
	email = shaun.ruffell@starlab.io
	name = Shaun Ruffell

[format]
	numbered = auto

[core]
	legacyheaders = false
	editor = vim

[repack]
	usedeltabaseoffset = true

[rerere]
	autoupdate = yes
	enabled = yes

[alias]
	ll = log --color --pretty=oneline --abbrev-commit --decorate
	caa = commit -a --amend -C HEAD
