[user]
	email = sruffell@digium.com
	name = Shaun Ruffell

[sendemail]
	smtpserver = zimbra.digium.com
	smtpuser = sruffell
	from = Shaun Ruffell <sruffell@digium.com>

[format]
	numbered = auto

[core]
	legacyheaders = false
	editor = vim

[repack]
	usedeltabaseoffset = true
[alias]
	ll = log --pretty=oneline --abbrev-commit --decorate
