[user]
	email = shaun.ruffell@starlab.io
	name = Shaun Ruffell

[alias]
	tbd = for-each-ref --format '%(refname) %(taggerdate)' --sort=taggerdate refs/tags
	ll = log --oneline --color --decorate
	caa = commit -a --amend -C HEAD
	as = rebase --autosquash -i
	changed = ls-files -m --exclude-standard

[branch]
	autosetuprebase = always

[push]
	default = simple

[color]
	ui = auto

[format]
	numbered = auto

[core]
	legacyheaders = false
	editor = vim

[repack]
	usedeltabaseoffset = true

[rerere]
	autoupdate = yes
	enabled = yes

